<div *ngIf="animal">
    <h2 >{{"Informações de"|altupper}} {{animal.name|altupper}}</h2>
    <div>Id: {{animal.id}}</div>

    <div>
      <label for="animal-name">Animal name: </label>
      <input id="animal-name" [(ngModel)]="animal.name" placeholder="name">
      <div>Espécie: {{animal.especie}}</div>
      <div>Alimentação: {{animal.alimentacao}}</div>
      <div>Energia: {{animal.energia}}</div>
      <div id="change">Está vivo: {{animal.vivo}}</div>


    </div>
    <div>
      <label for="animal-sleep">Dormir e recuperar 50 energia: </label>
      <button type="button" (click)="dormir()">Dormir</button>
      </div>
    <div>
    <label for="animal-eat">Buscar comida: </label>
    <input id="tentativas" placeholder=0>
    <button type="button" (click)="tentarComer()">Tentar</button>
    </div>

    <button type="button" (click)="goBack()">go back</button>
  </div>

  <app-messages></app-messages>
